.diagram {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.diagram div.tooltip {
    position: absolute;
    text-align: left;
    padding: 2px;
    font: 12px sans-serif;
    background: black;
    border: 0px;
    border-radius: 8px;
    color: white;
}

.diagram div.tooltip div.tooltip-inner {
  min-width: 120px;
  align-items: center;
  text-align: left;
  padding: 8px;
  font: 12px sans-serif;
  background: black;
  border: 0px;
  border-radius: 8px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 6px;
  opacity: 1;
}

.diagram div.tooltip div.tooltip-inner button {
  color: white;
  background: black;
  border: 2px solid white;
  border-radius: 10px;
  width: 100%;
}

.diagram .grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.diagram .grabbable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.diagram .main-svg {
    flex-grow: 1;
}

.diagram .toolbar-wrapper {
  display: flex;
  justify-content: space-between;
}

.diagram .sliderbar {
  display: flex;
  align-items: center;
  gap: 6px;
}

.diagram .sliderbar label {
  font-weight: 100;
  margin-bottom: 0;
}

.diagram .sliderbar input {
  width: 200px;
}

.diagram .toolbar {
  position: relative;
  display: flex;
  align-items: center;
}
.diagram.widget-mode .toolbar {
  padding-right: 20px;
}

.diagram .toolbar > * {
  margin-bottom: 5px !important;
}

.diagram .toolbar > *:not(:first-child) {
  margin: 0 8px;
}

.diagram .toolbar .button {
  cursor: pointer;
}

.diagram .toolbar svg {
  background: var(--bg-main,#fff);
  height: 20px;
  width: 38px;
  overflow: visible;
  vertical-align: top;
  transform: translate(0px, 0.5px);
}

.diagram .toolbar > div {
  display: inline-block;
}

.diagram .visio-export {
  margin-top: -1px !important;
}
.diagram .visio-export img {
  height: 24px;
  width: 26px;
}

.diagram .search-form {
  display: inline-block;
  vertical-align: top;
  width: 350px;
}

.diagram .search-form .autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  height: 21px;
  width: calc(100% - 50px);
  vertical-align: top;
}

.diagram .search-form input {
  background-color: #eee;
  padding: 2px;
  font-size: 12px;
  width: 100%;
  border: 1px solid #d4d4d4;
  height: 21px;
  line-height: inherit;
  vertical-align: top;
}

.diagram .autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.diagram .autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.diagram .autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.diagram .autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: rgb(33,150,243) !important;
  color: #ffffff;
}

.diagram .button.search {
  margin-left: 5px;
}

.diagram g.zoom-controls {
    cursor: pointer;
    pointer-events: all;
    /* transform: translate(60px, 0.5px); */
}
.diagram .zoom-controls rect {
    fill: white;
    stroke: #596877;
    stroke-width: 1;
}
.diagram .zoom-controls line {
    stroke: #596877;
    stroke-width: 1.5;
}

.diagram .zoom-out {
    transform: translate(19px, 0px);
}

.diagram .button {
    fill: white;
    stroke: #596877;
}

.diagram svg.mode-toggle {
  width: 160px;
}

.diagram svg.mode-toggle g {
  fill: white;
}

.diagram svg.mode-toggle g .button-label {
  fill: #596877;
}

.diagram svg.mode-toggle g.active {
  fill: black;
}

.diagram svg.mode-toggle g.active .button-label {
  fill: white;
}

.diagram .button-label {
    stroke: none;
    fill: #596877;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
}

.diagram g {
    cursor: pointer;
}

.diagram svg {
    background: #eee;
    overflow: hidden;
}

.diagram .loader {
    position: absolute;
    left: 50%;
    bottom: 50%;
    z-index: 1;
    width: 32px;
    height: 32px;
    margin: -75px 0 0 -75px;
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid rgb(33,150,243);
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.diagram .button.float {
  transform: translate(40px)
}

.diagram .button.lock {
  transform: translate(80px)
}

.diagram .button.lock-all {
  transform: translate(120px)
}

.diagram .detach {
  font-size: 11px;
  cursor: pointer;
}
.diagram .groupings-toggle input {
  vertical-align: middle;
}
.diagram .groupings-toggle .label {
  font-weight: normal;
  font-size: 11px;
}

.diagram .subnet-weight {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 11px;
}
.diagram .subnet-weight label {
  font-weight: 100;
  margin-bottom: 0;
  white-space: nowrap;
}


.diagram .subnet-weight input {
  width: 120px;
  accent-color: var(--font-anchor,#2196f3);
  vertical-align: top;
}

.diagram .reset {
  float: right;
}

.custom-context-menu {
  background-color: #fafdf4;
  padding: 8px 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  border: 1px solid #ccc;
  border-radius: 8px;
  ;
}

.custom-context-menu div {
  cursor: default;
  padding: 4px 16px;
}

.custom-context-menu div:hover {
  background-color: #f0f0f0;
}

.setting-modal-container {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}

.setting-modal-container .modal-content {
  background-color: var(--bg-main,#fefefe);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;

}

.setting-modal-container .setting-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  line-height: 1;
}

.setting-modal-container .setting-close:hover,
.setting-modal-container .setting-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.setting-modal-container .setting-modal-body {
  margin: 20px 0;
}

.setting-modal-container .setting-modal-body .modal-toolbar {
  display: flex;
  justify-content: space-between;
}

.setting-modal-container .setting-modal-body .modal-searchbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.setting-modal-container .setting-modal-body .modal-searchbar .search-input {
  width: 100%;
}
.setting-modal-container .setting-modal-body .modal-searchbar .search-container {
  position: relative;
  width: 100%;
}

.setting-modal-container .setting-modal-body .modal-searchbar .clear-button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.setting-modal-container .setting-modal-body .modal-toolbar a {
  cursor: pointer;
}

.setting-modal-container .setting-modal-body .tree {
  list-style: none;
  font-size: 16px;
  padding-left: 0;
  height: 500px;
  overflow: auto;
}

.setting-modal-container .setting-modal-body .tree-item {
  margin: 5px 0;
}

.setting-modal-container .setting-modal-body .tree-title {
  /* cursor: pointer; */
  /* display: flex; */
}

.setting-modal-container .setting-modal-body [type=checkbox] {
  margin-right: 4px;
}

.setting-modal-container .setting-modal-body .toggle {
  cursor: pointer;
  margin-right: 5px;
}

.setting-modal-container .setting-modal-body .children {
  display: none;
}

.setting-modal-container .setting-modal-body .expanded>.children {
  display: block;
}

.setting-modal-container .modal-content .setting-modal-footer {
  display: flex;
  justify-content: space-between;
}

.setting-modal-container .modal-content button {
    color: initial;
}

.setting-modal-container .setting-modal-footer .action {
  width: 100px;
}

.options-modal-container {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.options-modal-container .modal-content {
  background-color: var(--bg-main,#fefefe);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
}

.options-modal-container .options-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  line-height: 1;
}

.options-modal-container .options-close:hover,
.options-modal-container .options-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.options-modal-container .options-modal-body {
  margin: 20px 0;
}

.options-modal-container .options-modal-footer {
  text-align: right;
}

.options-modal-container button {
  padding: 5px 10px;
  margin-left: 10px;
}

.options-modal-body ul {
  list-style: none;
  padding: 0;
  font-size: 16px;
}
.options-modal-body label {
  font-weight: normal;
  vertical-align: middle;
}
